/*
* Template Name: Vah - Multipurpose HTML5 Responsive Template
  Version: 1.0.0
  Author: Techmate Softtech LLP
*/

// Font Files
@import "fonts"
// Variables
@import "variables"
// select your theme { For Ex: theme-clr, theme-dark }
@import "theme"
// Include Menubar / Navbar
@import "navbar"
// Include Common Style
@import "common"
// Media Query
@import 'media'