
// Pre-header variables
$clr1 = #3A216D
$clr2 = #b63f81

$primary-clr = #b63f81
$hover-clr = #221d67

$gradient-color1 = #221d67
$gradient-color2 = #b63f81

$pre-header-bg = #FCFCFC
$pre-header-bg-shadow-clr = transparent

// Pre-header social icons
$pre-header-border = 1px solid rgba(255,255,255,0.5)
$pre-header-social-ico-clr = $clr1
$pre-header-social-ico-hvr-clr = #FFFFFF
$pre-header-topbar-btn-clr = $clr1
$pre-header-topbar-btn-hvr-clr = #FFFFFF
$pre-header-topbar-btn-hvr-bg = $clr2
$pre-header-btn-active-clr = #FFFFFF
$pre-header-btn-active-bg = $primary-clr
$pre-header-btn-border = 1px solid $primary-clr
$pre-header-section-bg = $clr2

// Pre-header elements
// Input
$pre-header-input-shadow = 0 0 3px #FCFCFC
$pre-header-input-border = 1px solid #FFFFFF
$pre-header-input-bg = darken($clr2, 20%)
$pre-header-input-clr = #FFFFFF

// Buttons
$pre-header-btn-clr = #FCFCFC
$pre-header-btn-bg = $clr2
$pre-header-btn-hvr-clr = $clr2
$pre-header-btn-border = 1px solid #FFFFFF
$pre-header-btn-shadow = 0 30px 5px 0 white inset, 0 -30px 5px 0 white inset

// Menu variables
$navbar-shadow = 0 5px 5px -5px rgba(0, 0, 0, 0.2)
$navbar-bg = linear-gradient(45deg, rgb(34, 29, 103) 0%, rgb(94, 31, 112) 40%, rgb(182, 63, 129) 100%)

$menu-active-bg = #3F2870
$menu-active-clr = #FFF

$submenu-active-bg = #523F7B
$submenu-active-clr = #FFF
$submenu-active-padding = 5px

// Main menu
$navbar-a-clr = #FCFCFC
$navbar-a-hvr-clr = #FFF
$navbar-hvr-bg = #381E68

// Submenu / Megamenu
$navbar-submenu-bg = rgba(55, 30, 105, 0.95)
$navbar-submenu-border = none
$navbar-submenu-transition = .3s
$navbar-submenu-a-border-bottom = none
$navbar-submenu-a-clr = #CCC
$navbar-submenu-a-hvr-clr = #FFF
$navbar-submenu-a-hvr-bg = #523F7B

$navbar-submenu-shadow = none
$navbar-submenu-border-top = none