// Pre-header variables
$pre-header-bg = $primary-clr
$pre-header-bg-shadow-clr = $hover-clr

// Pre-header social icons
$pre-header-border = 1px solid rgba(255,255,255,0.5)
$pre-header-social-ico-clr = #FFFFFF
$pre-header-social-ico-hvr-clr = #FFFFFF
$pre-header-topbar-btn-clr = #FFFFFF
$pre-header-topbar-btn-hvr-clr = #FFFFFF
$pre-header-topbar-btn-hvr-bg = $hover-clr

$pre-header-section-bg = $hover-clr

// Pre-header elements
// Elements: Input
$pre-header-input-shadow = 0 0 3px #FFFFFF
$pre-header-input-border = 1px solid #FFFFFF
$pre-header-input-bg = $primary-clr
$pre-header-input-clr = #FFFFFF

// Elements: Buttons
$pre-header-btn-clr = #FFFFFF
$pre-header-btn-bg = $primary-clr
$pre-header-btn-hvr-clr = $primary-clr
$pre-header-btn-active-clr = #FFFFFF
$pre-header-btn-active-bg = $hover-clr
$pre-header-btn-border = 1px solid $primary-clr
$pre-header-btn-shadow = 0 30px 5px 0 white inset, 0 -30px 5px 0 white inset

// Navbar / Menubar
$menu-active-bg = #F5F7F9
$menu-active-clr = $primary-clr
$menu-active-shadow = 0 -2px 0 $primary-clr inset
$navbar-shadow = 0 4px 7px -4px rgba(0,0,0,0.25)
$navbar-bg = #FFFFFF

$submenu-active-bg = #F5F7F9
$submenu-active-clr = #333
$submenu-active-padding = 5px

// Main menu
$navbar-a-clr = $primary-clr
$navbar-a-hvr-clr = $primary-clr
$navbar-hvr-bg = #F5F7F9

// Submenu / Megamenu
$navbar-submenu-bg = #FFFFFF
$navbar-submenu-border = 1px solid #CCC
$navbar-submenu-transition = .3s
$navbar-submenu-a-border-bottom = 1px solid #F5F7F9
$navbar-submenu-a-clr = #666
$navbar-submenu-a-hvr-clr = #333
$navbar-submenu-a-hvr-bg = #FCFCFC
$section-theme-bg = #FFFFFF

$navbar-submenu-shadow = 0 6px 5px -4px rgba(0, 0, 0, .25), 0 7px 5px -5px #ccc inset
$navbar-submenu-border-top = 2px solid $primary-clr