// Define Variables
$primary-clr = #0C6DB8
$hover-clr = #1F5F90
$content-clr = #6B7770
// $primary-clr = #4285F4

// $gradient-color1 = #351D6A
// $gradient-color2 = #B23E81

$gradient-color1 = #0C6DB8
$gradient-color2 = #D36

$light-bg = #F5F7F9

$input-height = 40px
$txtarea-height = 150px
$btn-height = 40px
$breadcrump-height = 100px
// $breadcrump-padding = 15px

$hover-clr = darken($primary-clr, 30%)
$cta-color = #333
$nav-min-height = 70px
$transition = 0.3s

$primary-ff = 'Mulish', sans-serif

$border = 1px solid rgba(255, 255, 255, .5)

// Font size & colors
$heading-size = 32px
$title-size = 26px
$label-size = 20px
$extra-large-title-size = 90px

$header-caption-fs = 3.35em
$cta-title-size = 40px
$breadcrump-title-size = 28px

// Box layout
$box-width = 90%

// Slider config and variables
$vah-slider-arrow-size = 80px

// Footer
// Footer CTA
$cta-content-icon-size = 80px
$contact-cta-fs = 28px